<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MF</title>
    <link rel="icon" type="image/svg+xml" href="~/images/fish_iconmf.svg" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MF.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.scss" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 navbarcolor">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <div class="logoshop">
                            <img class="logoshopimg" src="~/images/logoMf.png" alt="Logo" />
                        
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">ГОЛОВНА</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Stores" asp-action="Index">ВСІ МІСЦЯ</a>
                        </li>
                       
                          @*   @if (User.Identity.IsAuthenticated)
                            {
                            <li class="nav-item">
                                <p>USER @User.Identity.Name</p>
                            </li>
                            }
                            else
                            {
                            <li class="nav-item">
                                <p>NO USER</p>
                            </li>
                            } *@


                         @if (User.IsInRole(MF.APPWC.AdminRole))
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ADMINISTRATION
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item  p-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="TypesFish" asp-action="Index">Types Fish</a>
                                </li>
                                <li class="nav-item  p-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Fishes" asp-action="Index">Fishes</a>
                                </li>
                                <li class="nav-item  p-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="PlaceDb" asp-action="Index">Place</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Create Admin</a>
                                </li>
                            </ul>
                        </li>

                        }
                        else
                        {
                            <li></li>
                        }
                    </ul>
                        <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer navbarcolor text-muted">
        <div class="container">
            &copy; 2025 - MF - <a class="whitelink" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
