@model MF.Models.ViewModels.FishesVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fishes</h4>
<input asp-for="Fishes.id" hidden />
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fishes.Name" class="control-label"></label>
                <input asp-for="Fishes.Name" class="form-control" />
                <span asp-validation-for="Fishes.Name" class="text-danger"></span>
            </div>



            <div class="form-group row mb-4">
                <div class="col-4">
                    <label asp-for="Fishes.TypesFishId"></label>
                </div>
                <div class="col-8">
                    <select asp-for="Fishes.TypesFishId" asp-items="@Model.TypesFishSelectList" class="form-control">
                        <option disabled selected>--Types Fish--</option>
                    </select>
                    <span asp-validation-for="Fishes.TypesFishId" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="whitelink" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
