@{
    ViewData["Title"] = "Privacy";
}


<div>
    <h2>My jobs</h2>
    <ul class="navbar-nav flex-grow-1 col-md-3">
        <li class="nav-item">
            <a href="https://github.com/VictorIvanets" class="nav-link text-dark">My GitHub</a>
        </li>
        <li class="nav-item">
            <a href="https://victorivanets.github.io/cinema" class="nav-link text-dark">Cinema</a>
        </li>
        <li class="nav-item">
            <a href="https://victorivanets.github.io/fishapp/ " class="nav-link text-dark">My Fishig (React)</a>
        </li>
    </ul>

</div>