@{
    ViewData["Title"] = "Privacy";
}



<div class="startpage">
    <h1 class="mb-5">Проєкт "My Fishing"</h1>
    <p>Цей проект розробляється як курсова робота, <br />з використянням бази данних, <br /> та сторонньої біліотеки Leaflet (OpenStreetMap) для створення карт. </p>
    <p>Пpоєкт у стадії розробки. На разі, в основному, використовується стилістика bootstrap,<br />але в подальшому дизайн буде змінено.</p>
    <p>
        Основна логіка зараз знаходиться у розлі "ВСІ МІСЦЯ",  <br />
        натиснувши на назву місця або макер на карті можна подивитися місце <br />
        У вкладці ADMINISTRATION > Place > Створити місце, виберіть місце на карті <br />
        Додайте назву, та збережіть.
    </p>
    <p>
        Надалі логіка додавання місця буде інша (це тільки адмінка),<br />
        у користувачів буде додаватия сесія рибалки <br />
        з додаванням місця, описом, списками риби, що тут ловлять, погодою, та фото.
    </p>

    <br />
    <br />
    <br />
    <p>
        Цей проєкт я вже розробляв на TypeScript, фронт був написаний на React, бек на Nest.js, база данних MongoDB.
        <br />
        <span><a href="https://victorivanets.github.io/fishapp/ " class="whitelink">Link GitHub Pages</a></span>
        <br />
        <span><a href="https://github.com/VictorIvanets/fishing " class="whitelink">репозиторій на github</a></span>
    </p>
    <p>Також був розроблений Android додаток на React Native (Expo) <br /><span><a href="https://github.com/VictorIvanets/myfishing_v3" class="whitelink">репозиторій на github</a></span></p>

    <div>

        <h2>My jobs</h2>
        <ul class="navbar-nav flex-grow-1 col-md-3">
            <li class="nav-item">
                <a href="https://github.com/VictorIvanets" class="nav-link text-dark">My GitHub</a>
            </li>
            <li class="nav-item">
                <a href="https://victorivanets.github.io/cinema" class="nav-link text-dark">Cinema</a>
            </li>
            <li class="nav-item">
                <a href="https://victorivanets.github.io/fishapp/ " class="nav-link text-dark">My Fishig (React)</a>
            </li>
        </ul>

    </div>

</div>

