@model MF.Models.Place



<form method="post" asp-action="SavePlace">
    <div class="text-center">
        <h1 class="display-4">SetPlace</h1>


        <div class="col-4">
            <label asp-for="Name"></label>
        </div>
        <div class="col-8">
            <input asp-for="Name" class="form-control" />
        </div>


        <div class="col-4">
            <label asp-for="Description"></label>
        </div>
        <div class="col-8">
            <input asp-for="Description" class="form-control" />
        </div>

        <div class="col-4">
            <label asp-for="Lat"></label>
        </div>
        <div class="col-8">
            <input readonly asp-for="Lat" value="@Model.Lat" class="form-control" />
        </div>


        <div class="col-4">
            <label asp-for="Long"></label>
        </div>
        <div class="col-8">
            <input readonly asp-for="Long" value="@Model.Long" class="form-control" />
        </div>


        <input type="submit"
               class="btn btn-info w-100"
               value="SAVE" />

    </div>
</form>
